<section>
  <div class="hero">
    <img src="assets/cupcake.png" alt="A delicious cupcake" />
    <div>
      <h1>Awesome!</h1>
      <span>It works!</span>
    </div>
  </div>

  <div class="questions">
    <h2>Summary</h2>

    <div>
      @for (item of summary(); track item.question) {
        <ul>
          <li>{{ item.question }}</li>
          <li [class.answered]="item.answered" [class.not-answered]="!item.answered">
            {{ item.answer }}
          </li>
        </ul>
      }
    </div>
  </div>

  <app-button label="Complete the flow and Reset" (click)="resetFlow()" />
</section>
