@use '../../../../variables.scss' as *;

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2.313rem;
  background-color: $mono-white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  max-width: 720px;
  width: 100%;
  height: 100%;
  padding: 0px 72px;

  .hero {
    img {
      width: 170px;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: contain;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-weight: 700;
        font-size: 24px;
        color: $mono-dark1;
      }

      span {
        font-weight: 500;
        font-size: 14px;
        color: $mono-gray1;
      }
    }
  }

  .questions {
    width: 100%;

    h2 {
      font-size: 1rem;
      font-weight: 600;
      color: $mono-dark3;
      padding-bottom: 0.5rem;
    }

    div {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $mono-gray4;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          color: $mono-dark2;
          font-size: 14px;
          font-weight: 600;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          &.answered {
            color: $mono-dark1;
            font-weight: 500;
          }

          &.not-answered {
            color: $mono-gray2;
            font-weight: 500;
          }
        }
      }
    }
  }
}
