@use './variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f6f7;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  app-step2 {
    width: 100%;
  }

  app-step3 {
    max-width: 720px;
    width: 100%;
    max-height: 750px;
    height: 100%;
  }
}
