// 🎨 Colors
$brand-green37: #1AA287;
$brand-main: #1DB496;
$brand-hover: #21CAA8;
$brand-green91: #DBF6F0;
$brand-light: #F2FDFB;

$mono-dark1: #26292D;
$mono-dark2: #42454C;
$mono-dark3: #5A606D;

$mono-gray1: #8B92A0;
$mono-gray2: #CCCCCC;
$mono-gray3: #E5E5E5;
$mono-gray4: #F8F8F8;
$mono-white: #FFFFFF;

$states-red: #ED4C5C;
$states-orange: #DB9F1F;
$states-highlighter: #FFFCE5;
$states-blue: #2F5BEA;

// 🔠 Typography
$font-family-base: 'Inter', sans-serif;
